## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS / Rider
.vs/
.idea/
*.DotSettings.user
# launchSettings.json is kept for students

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json

## OS
.DS_Store
Thumbs.db
desktop.ini

## Misc
*.swp
*.bak
*.tmp
