<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FamilyHub - Gestion Familiale</title>
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="theme-color" content="#1b6ec2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    @* Module 06 : CascadingAuthenticationState fournit l'etat d'authentification
       a tous les composants enfants (AuthorizeView, etc.) *@
    <CascadingAuthenticationState>
        <Routes @rendermode="InteractiveServer" />
    </CascadingAuthenticationState>

    <script src="_framework/blazor.web.js"></script>

    <script>
        // Enregistrement du Service Worker pour PWA
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
                .then(reg => console.log('[PWA] Service Worker enregistre:', reg.scope))
                .catch(err => console.error('[PWA] Erreur enregistrement SW:', err));
        }
    </script>
</body>
</html>
